@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');

body{
  margin: 0;
  padding:0;
  font-family: Lato, Roboto, "Helvetica Neue", Helvetica, Arial;
}
form {
  padding: 10px;
  border: none;
  border-bottom: 2px;
}

input[type=text], input[type=email]{
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin : 1%;
  transition: 1s;
}

input[type=text]:focus, input[type=email]:focus{ 
  outline: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.6);
  transition:width 1s

}

input[type=text]:hover, input[type=email]:hover{
  transition: 1s;
  animation-duration: 1s;

}
h2{
  margin:0;
}

label{
  font-family: Lato;
}
button{
  font-family: Lato;
}
.register-container{
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    right: 13%;
    margin-top: 11%;
    font-size: 16px;
    background-color: rgba(255,255,255, 0.6);
    text-align: center
}
.register-container p{
margin: 1%;
}
.center-text{
  text-align: center;
}

#orange-text{
  color: #FF6100 !important;
  font-weight: bold;
}
.register-containerp{
  margin: 1%;
  }
