img{
    width: 200px;
}

.orange-text{
    color: #FF6100 !important;
    font-weight: bold;
}
.margin-user-creator{
    margin-top: 2rem;
}
.margin-bottom-container-routes{
    margin-bottom: 1rem;
}
.follow-button:active{
    background-color: white;
}
