
#profile-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0;
}
#profile-photo{
    width: 20%;
}
#profile-details-container{
    width: 60%;
    height: 60%;
    padding: 5%;
}
