
#profile-details{
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    align-items: flex-start;
    padding-bottom: 5rem;


    
}
.profile-photo{
    width: 30%;
    height: 30%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    padding-top: 6rem;
    
}
.profile-photo img{
    width:15rem;
    height:14rem;
    border-radius: 10px;
    margin-left: 5rem;
}

#profile-details-container{
    text-align: center;
    margin-right: 30%;

}

.big-hr{
    width: 90% !important;
}